@mixin center($type: 'both') {
    display: flex;
    @if $type=='vertical' {
        align-items: center;
    }
    @else if $type=='horizontal' {
        justify-content: center;
    }
    @else if $type=='both' {
        justify-content: center;
        align-items: center;
    }
}

//Pixel to em
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}